body {
    font-family: 'Droid Sans Mono', monospace;
    /* text-transform: uppercase; */
    background-color: #333; /* Dark background, not completely black */
    color: #ddd; /* Light text color for contrast */
    margin: 0;
    padding-top: 60px; /* Adjust based on your header size */
    text-align: center; /* Center content */
}

.sidebar {
    background-color: #ddd; /* Lighter stripe 444 */
    width: 250px; /* Similar to the icon and header width */
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.header {
    font-size: 5em;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'DejaVu Sans Mono', monospace; */
    color: #333; /* Adjusted color for visibility against light stripe 888 */
    position: absolute;
    top: 275px;
    left: 0px;
}

.icon {
    height: 250px;
    width: 210px;
    background-image: url('/assets/images/theplanet.png');
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 20px;
}

.content {
    margin-left: 250px; /* Ensure content does not overlap with the sidebar */
    width: 75%; /* Similar to the icon and header width */
    height: 800px; /* Adjust map height for smaller screens */
    padding-top: 60px; /* Adjust as needed */
    text-align: center; /* Center content */
}
